---
import MenuClose from '../../assets/images/icon-menu-close.svg';
---

<div class='nav-modal'>
  <div class='modal'>
    <button class='btn-toggle'>
      <img class='nav-img' src={MenuClose} alt='menu close' />
    </button>
    <ul class='nav-links'>
      <li><a href='/'>Home</a></li>
      <li><a href='/'>New</a></li>
      <li><a href='/'>Popular</a></li>
      <li><a href='/'>Trending</a></li>
      <li><a href='/'>Categories</a></li>
    </ul>
  </div>
</div>
