---
import News from '../components/News.astro';
import SideNews from '../components/SideNews.astro';
---

<main>
  <div class='container grid'>
    <News />
    <SideNews />
    <section class='sub-news'></section>
  </div>
</main>

<style>
  @media (min-width: 375px) {
    .grid {
      display: grid;
      grid: 2fr 1fr / 2fr 1fr;
    }
  }
</style>
