---
import News from '../components/News.astro';
import SideNews from '../components/SideNews.astro';
import SubNews from '../components/SubNews.astro';
---

<main>
  <div class='container grid'>
    <div class='news'>
      <News />
    </div>
    <div class='side-news'>
      <SideNews />
    </div>
    <div class='sub-news'>
      <SubNews />
    </div>
  </div>
</main>

<style>
  @media (min-width: 375px) {
    .grid {
      display: grid;
      grid: 1fr 1fr / 1fr 1fr 1fr;
    }

    .news {
      grid-column: 1 / 3;
    }

    .side-news {
      grid-column: 3 / 4;
    }

    .sub-news {
      grid-column: 1 / span 3;
    }
  }
</style>
