---
import News from '../components/News.astro';
import SideNews from '../components/SideNews.astro';
import SubNews from '../components/SubNews.astro';
---

<main>
  <div class='container grid'>
    <News />
    <SideNews />
    <div class='sub-news'>
      <SubNews />
    </div>
  </div>
</main>

<style>
  @media (min-width: 375px) {
    .grid {
      display: grid;
      grid: 1fr 1fr / 2fr 1fr;
    }

    .sub-news {
      grid-column: 1 / span 2;
    }
  }
</style>
